body{
    background-color: #F7F8FA;
}

.search-container{
 background-color: #494673;
}

#spinner{
    display: none;
}

#result-total{
    display: none;
}

.card-img-top {
    width: 100%;
    height: 350px!important;
}

.card-body p{
    display: inline;
}